h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 40pt;
}

h3 {
  text-align: left;
  font-family: fantasy;
}

body {
    background-color: #71B3C9;
}

.container {
  background-color: #919394;
}
.form-group {
  background-color: #BBE4F2;
}
